# Awari - Aula 6 - MinIO e MongoDB

1. Criar script para ler os datasets em /exercicios/municipios-estados — o script deve:
- criar uma pasta nomeada com a sigla da UF para cada estado encontrado no arquivo JSON;
- organizar as cidades por estado um único arquivo CSV, nomeado como cidades.csv;
- salvar esse arquivo cidades.csv dentro da pasta da UF (estado) correspondente.
2. Importar as pastas e arquivos salvos para um bucket no MinIO.
3. Exportar os dados para o MongoDB e visualizá-los a partir do banco de dados.

## Tratamentos iniciais

In [1]:
import pandas as pd

In [12]:
df_estados = pd.read_csv("../arquivos/estados.csv")

In [13]:
df_estados.head()

   codigo_uf  uf      nome  latitude  longitude regiao
0         11  RO  Rondônia    -10.83     -63.34  Norte
1         12  AC      Acre     -8.77     -70.55  Norte
2         13  AM  Amazonas     -3.47     -65.10  Norte
3         14  RR   Roraima      1.99     -61.33  Norte
4         15  PA      Pará     -3.79     -52.48  Norte

In [14]:
df_municipios = pd.read_csv("../arquivos/municipios.csv")

In [15]:
df_municipios.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo

In [16]:
df_municipios.merge(df_estados[['uf', 'codigo_uf']], on="codigo_uf")

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario,uf
0,5200050,Abadia de Goiás,-16.7573,-49.4412,0,52,1050,62,America/Sao_Paulo,GO
1,5200100,Abadiânia,-16.1970,-48.7057,0,52,9201,62,America/Sao_Paulo,GO
2,5200134,Acreúna,-17.3960,-50.3749,0,52,9645,64,America/Sao_Paulo,GO
3,5200159,Adelândia,-16.4127,-50.1657,0,52,9769,64,America/Sao_Paulo,GO
4,5200175,Água Fria de Goiás,-14.9778,-47.7823,0,52,9771,62,America/Sao_Paulo,GO
...,...,...,...,...,...,...,...,...,...,...
5565,3306107,Valença,-22.2445,-43.7129,0,33,5921,24,America/Sao_Paulo,RJ
5566,3306156,Varre-Sai,-20.9276,-41.8701,0,33,2917,22,America/Sao_Paulo,RJ
5567,3306206,Vassouras,-22.4059,-43.6686,0,33,5923,24,America/Sao_Paulo,RJ
5568,3306305,Volta Redonda,-22.5202,-44.0996,0,33,5925,24,America/Sao_Paulo,RJ
5569,5300108,Brasília,-15.7795,-47.9297,1,53,9701,61,America/Sao_Paulo,DF

In [17]:
df = df_municipios.merge(df_estados[['uf', 'codigo_uf']], on="codigo_uf")

## MinIO

In [22]:
#!pip install boto3

In [23]:
import boto3

In [24]:
client = boto3.client('s3', 
    endpoint_url='http://awari-minio-nginx:9000',
    aws_access_key_id='hxhFDOAzIu8nZM33',
    aws_secret_access_key='TKHENO4SuG4mLURfD0sxKXGvPokV9GT1',
    aws_session_token=None,
    config=boto3.session.Config(signature_version='s3v4'),
    verify=False,
    region_name='sa-east-1'
)

In [25]:
for uf in df.uf.unique():
    aux = df[df.uf == uf]
    client.put_object(Bucket='aula-06', Key=f'{uf}/municipios.csv', Body=aux.to_csv(index=False))

## MongoDB

In [26]:
from pymongo import MongoClient

In [31]:
client_mongodb =  MongoClient("mongodb://root:rootpassword@awari-mongodb:27017/?serverSelectionTimeoutMS=5000&connectTimeoutMS=10000&authSource=admin&authMechanism=SCRAM-SHA-256")
db = client_mongodb['exercicios']

In [35]:
for uf in df.uf.unique():
    obj = client.get_object(
        Bucket='aula-06', 
        Key=f'{uf}/municipios.csv'
    ).get("Body")

    data = pd.read_csv(obj)
    collection = db[uf]
    data.reset_index()
    data_dict = data.to_dict("records")
    collection.insert_many(data_dict)

In [36]:
data

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario,uf
0,5300108,Brasília,-15.7795,-47.9297,1,53,9701,61,America/Sao_Paulo,DF